.filter-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	font-size: 1.2rem;
	margin: 6rem 0 4rem;

	.left-filter {
		display: flex;
		cursor: pointer;
		font-weight: bold;

		span {
			margin-left: 0.3rem;
		}

		.anticon.anticon-fire,
		.anticon.anticon-calendar {
			font-size: 115%;
			transform: translateY(10%);
		}

		&_recent {
			margin-right: 0.8rem;
			color: gray;
		}

		&_recent.sorted,
		&_hit.sorted {
			color: rgb(44, 101, 175);
		}

		&_hit {
			color: gray;
		}
	}
}
