.main-container {
	width: 100%;
	height: 100vh;

	/* stackFilter-section*/
	.stackFilter-section {
		margin-top: 400px;
	}

	/* post-section */
	.post-section {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}
}
