.login--container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	width: 500px;
	height: 100vh;

	&__title {
		display: flex;
		justify-content: center;
		background-color: antiquewhite;
	}
}
