@import '~antd/dist/antd.css';

.menu {
	position: fixed;
	z-index: 10;
	padding-top: 30px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: #fff;

	&__left-menu {
		&-logo img {
			width: 100px;
		}
	}

	&__right-menu > ul {
		display: flex;
		li {
			font-size: 1rem;
			font-weight: bold;
			.ant-dropdown-trigger {
				min-width: 200px;
			}
		}
	}
}

.ant-menu-submenu-horizontal {
	border: none;
}
