@import './loginPage.scss';
@import './registerPage.scss';
@import './userInfoPage.scss';
@import './postWritePage.scss';
@import './landingPage.scss';
@import './navbar.scss';
@import './postDetailPage.scss';
@import './postUpdatePage.scss';
@import './stackPage.scss';
@import './filterPage.scss';
@import './checkBox.scss';
@import './postInfoItem.scss';
@import './post.scss';
@import './comment.scss';
@import './commentItem.scss';
@import './myWritePage.scss';

body {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Spoqa Han Sans Neo', -apple-system, BlinkMacSystemFont,
		'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	overflow-x: hidden;
}
