@import './fileUpload.scss';

.userInfo--container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: translateY(-5%);
	height: 100vh;

	h1 {
		font-weight: bold;
		padding-bottom: 4rem;
	}

	&-form {
		width: 550px;
		padding: 1rem 1.5rem;

		&_filed {
			width: 100%;
			display: flex;
			justify-content: space-between;

			label {
				width: 80px;
				margin-top: 0.5rem;
				font-size: 0.85rem;
				font-weight: bold;
				flex-shrink: 1;
			}

			input {
				width: 270px;
				height: 35px;
				padding: 0 0.7rem;
				border: solid 1px rgb(216, 212, 208);
				border-radius: 5px;
				flex-shrink: 3;
			}

			button {
				width: 120px;
				height: 35px;
				padding: 0 0.7rem;
				border: solid 1px rgb(216, 212, 208);
				border-radius: 5px;
				flex-shrink: 1;
				font-weight: bold;
			}
		}

		p {
			width: 100%;
			margin-bottom: 2rem;
			color: rgb(216, 212, 208);
			border-bottom: 1px solid rgb(216, 212, 208);
		}

		&_stack {
			display: flex;
			justify-content: space-between;
			label {
				font-weight: bold;
			}
			&-field {
				width: 81%;
			}
		}

		section:last-of-type {
			button {
				font-weight: bold;
			}
			display: flex;
			justify-content: flex-end;
		}
	}
}

.input-feedback-error,
.input-feedback-duplicated {
	margin-top: 0.3rem;
	color: rgb(201, 140, 151);
}
