@import './fileUpload.scss';

.userInfo--container {
	display: flex;
	flex-direction: column;
	// justify-content: center;
	// align-items: center;
	margin: 0 auto;
	margin-top: 120px; // 이 방법 말고?
	width: 550px;
	height: 100vh;

	h1 {
		font-weight: bold;
		padding-bottom: 4rem;
	}

	&-form {
		padding: 1rem 1.5rem;

		label {
			font-size: 0.85rem;
			font-weight: bold;
			display: inline-block;
			width: 20%;
		}

		input,
		button {
			width: 48%;
			height: 35px;
			padding: 0 0.7rem;
			margin-bottom: 0.8rem;
			border: solid 1px rgb(216, 212, 208);
			border-radius: 5px;
		}

		button {
			width: 23%;
			margin: 0 1rem;
		}

		p {
			width: 94%;
			margin-bottom: 2rem;
			color: rgb(216, 212, 208);
			border-bottom: 1px solid rgb(216, 212, 208);
		}

		&_stack {
			display: flex;
			&-field {
				width: 74%;
			}
		}

		// .css-319lph-ValueContainer {
		// 	// height: 20px;
		// 	// margin-top: -1rem;
		// }
	}
}

.input-feedback-error,
.input-feedback-duplicated {
	color: rgb(201, 140, 151);
	margin: -10px 0 -10px 100px;
}
